.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.5rem;
}

.page-content  {
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
}

.navbar-inner > .right {
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
}

.navbar-inner > .title-large {
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
}
